
<h1>{{ page.title }}</h1>

{% if page.abbrev.size > 0 %}
<h3> {{ page.abbrev }} in NPPS </h3>
{% else %}
<h3> {{ page.title }} in NPPS </h3>
{% endif %}

<p>
{% if page.ref.size > 0 %}
    <a href="{{page.ref}}">Website</a>
{% endif %}
</p>

<p>
<b>Participants</b> &nbsp;

<table width="100%">
{% for person in site.people %}
{% if person.experiments contains {{page.experiment}} %}
{% include personline.html %}
    {% endif %}
      {% endfor %}
</table>      
</p>

<p>
<b>Technical teams</b> &nbsp;

{% for team in site.techteams %}
    {% if page.teams contains {{team.team}} %}
        <br> &nbsp; &nbsp; <a href="{{team.url}}">{{ team.title }}</a> &nbsp; &nbsp; 
    {% endif %}
{% endfor %}
</p>

<p>
<b>Software</b> &nbsp;

{% for software in site.software %}
    {% if page.software contains {{software.software}} %}
        <br> &nbsp; &nbsp; <a href="{{software.url}}">{{ software.title }}</a> &nbsp; &nbsp; 
    {% endif %}
{% endfor %}
</p>

<p>
<b>Related materials</b>

{% for item in site.data.assets reversed %}

  {% if item.experiment contains page.experiment %}

    {% if item.date %}
        {% assign date = item.date | string_to_date | date: "%Y-%m-%d" %}
    {% else %}
        {% assign date = item.name | remove: "/assets/documents/" | string_to_date | date: "%Y-%m-%d" %}
    {% endif %}

    <br> &nbsp; &nbsp; <a href="{{item.name}}" target="_blank">{{item.title}}</a>, 

    <!-- horrible, but liquid has no named element arrays or dicts -->
<!--    {% for person in site.data.people %}
      {% if person.name == item.author %}
        &nbsp;  <a href="/people/{{person.name}}">{{ person.full }}</a>, {{ itemdate | date: "%b %Y" }}
      {% endif %}
    {% endfor %}  -->

    {% if item.venue.size > 0 %}
        &nbsp; {{ item.venue }},
    {% endif %}

    &nbsp; {{ date | date: "%b %Y" }}
  {% endif %}
{% endfor %}
</p>
