
<h1> {{ page.title }} </h1>
<p>
  {% if page.tags contains 'grouplead' %}
    <br>NPPS group leader
  {% endif %}

  {% if page.tags contains 'leader' %}
    <br>NPPS leadership team member!
  {% endif %}

  {% if page.tags contains 'member' %}
    <br>NPPS group member
  {% endif %}

  {% if page.tags contains 'collaborator' %}
    <br>NPPS collaborator
  {% endif %}
  
  {% if page.tags contains 'appointments' %}
    <br>DB
  {% endif %}
  
  {% if page.orcid.size > 0 %}
    <br>Orcid ID: &nbsp; <a href="http://orcid.org/{{page.orcid}}">{{page.orcid}}</a>
  {% endif %}
</p>

<p>
<b>Experiments and projects:</b>

{% for experiment in site.experiments %}
  {% if page.experiments contains experiment.experiment %}
    <br> &nbsp; &nbsp;  <a href="{{ experiment.url }}">{{ experiment.title}}</a>
  {% endif %}
{% endfor %}
</p>

<p>
<b>Technical teams:</b>

{% for team in site.techteams %}
  {% if page.teams contains team.team %}
    <br> &nbsp; &nbsp;  <a href="{{ team.url }}">{{ team.title}}</a>
  {% endif %}
{% endfor %}
</p>

<p>
<b>Software:</b>

{% for software in site.software %}
  {% if page.software contains software.software %}
    <br> &nbsp; &nbsp;  <a href="{{ software.url }}">{{ software.title}}</a>
  {% endif %}
{% endfor %}
</p>

<p>
<b>Materials:</b>

{% for item in site.data.assets reversed %}

  {% assign useit = 0 %}
  {% assign authors = item.author | split: " " %}
  {% for author in authors %}
      {% if author == page.name %}
        {% assign useit = 1 %}
      {% endif %}
  {% endfor %}
  {% if useit == 1 %}
        {% if item.date %}
            {% assign date = item.date | string_to_date | date: "%Y-%m-%d" %}
        {% else %}
            {% assign date = item.name | remove: "/assets/documents/" | string_to_date | date: "%Y-%m-%d" %}
        {% endif %}

        <br> &nbsp; &nbsp; <a href="{{item.name}}" target="_blank">{{item.title}}</a>, 
        
        {% if item.venue.size > 0 %}
            {{ item.venue }},
        {% endif %}
        
        {{ date | date: "%b %Y" }}
  {% endif %}
{% endfor %}
</p>
