
<h1> {{ page.title }} </h1>
<br>

<p>
<b>Participants:</b>

{% for person in site.people %}
  {% if person.software contains page.software %}
    <br> &nbsp; &nbsp;  <a href="{{ person.url }}">{{ person.title}}</a>
  {% endif %}
{% endfor %}
</p>

<p>
<b>Experiments:</b>

{% for experiment in site.experiments %}
  {% if experiment.software contains page.software %}
    <br> &nbsp; &nbsp;  <a href="{{ experiment.url }}">{{ experiment.title}}</a>
  {% endif %}
{% endfor %}
</p>

<p>
<b>Materials:</b>

{% for item in site.data.assets reversed %}

  {% if item.software contains page.software %}

    {% if item.date %}
        {% assign date = item.date | string_to_date | date: "%Y-%m-%d" %}
    {% else %}
        {% assign date = item.name | remove: "/assets/documents/" | string_to_date | date: "%Y-%m-%d" %}
    {% endif %}

    <br> &nbsp; &nbsp; <a href="{{item.name}}" target="_blank">{{item.title}}</a>, 

    <!-- horrible, but liquid has no named element arrays or dicts -->
    {% for person in site.data.people %}
      {% if person.name == item.author %}
        &nbsp;  <a href="/people/{{person.name}}">{{ person.full }}</a>, {{ itemdate | date: "%b %Y" }}
      {% endif %}
    {% endfor %}

    &nbsp; {{ date | date: "%b %Y" }}
  {% endif %}
{% endfor %}
</p>

