
<h1> {{ page.title }} </h1>

<br>

<p>
<b>Participants</b>

{% for person in site.people %}
  {% if person.teams contains page.team %}
    <br> &nbsp; &nbsp;  {% include personline.html %}
  {% endif %}
{% endfor %}
</p>

<p>
<b>Experiments and projects</b>
{% for experiment in site.experiments %}
  {% if experiment.teams contains page.team %}
    <br> &nbsp; &nbsp;  <a href="{{ experiment.url }}">{{ experiment.title}}</a>
  {% endif %}
{% endfor %}
</p>

<p>
<b>Software</b> &nbsp;

{% for software in site.software %}
    {% if software.teams contains page.team %}
        <br> &nbsp; &nbsp; <a href="{{software.url}}">{{ software.title }}</a> &nbsp; &nbsp; 
    {% endif %}
{% endfor %}
</p>

<p>
<b>Materials</b>

<br> &nbsp; &nbsp; Related materials with NPPS (co)authorship:

{% for item in site.data.assets reversed %}

  {% if item.team contains page.team %}

    {% if item.date %}
        {% assign date = item.date | string_to_date | date: "%Y-%m-%d" %}
    {% else %}
        {% assign date = item.name | remove: "/assets/documents/" | string_to_date | date: "%Y-%m-%d" %}
    {% endif %}

    <br> &nbsp; &nbsp; <a href="{{item.name}}" target="_blank">{{item.title}}</a>, 

    <!-- horrible, but liquid has no named element arrays or dicts -->
  <!--  {% for person in site.data.people %}
      {% if person.name == item.author %}
        &nbsp;  <a href="/people/{{person.name}}">{{ person.full }}</a>, {{ itemdate | date: "%b %Y" }}
      {% endif %}
    {% endfor %} -->

    {% if item.venue.size > 0 %}
        &nbsp; {{ item.venue }},
    {% endif %}

    &nbsp; {{ date | date: "%b %Y" }}
  {% endif %}
{% endfor %}
</p>

<p>
<b>Events</b> <br>

{% for post in site.categories.announcements %}
{% if post.teams contains page.team %}

<br><b><a href="{{ post.url }}">{{ post.title }}</a></b>
{{ post.date | date_to_string }} 

{{ post.content  }}


{% endif %}
{% endfor %}

</p>

